
body {
    font-family : 'Hind', sans-serif;
    font-size   : 15px;
    line-height : 1.8em;
    color       : #3d3d50;
    font-weight : 300;
    background  : #ffffff;
    }



h1, h2, h3, h4, h5, h6 {
    margin : 0 0 15px;
    color  : #2b2b3d;
    }


h2 {
    font-size   : 18px;
    line-height : 1.8em;
    font-weight : 700;
    }

h3 {
    font-size   : 16px;
    line-height : 1.8em;
    font-weight : 500;
    }

h4 {
    font-size   : 15px;
    line-height : 1.8em;
    font-weight : 500;
    }


p {
    margin-bottom : 20px;
    }





.blocks {
    box-sizing : border-box;
    }

.left-col-block {
    width      : 50%;
    text-align : center;
    overflow   : hidden;
    position   : fixed;
    left       : 0;
    }

.right-col-block {
    width      : 50%;
    position   : absolute;
    right      : 0;
   
    }

@media (max-width : 600px) {
    .left-col-block {
        width    : 100%;
        position : relative;
        }

    .right-col-block {
        width      : 100%;
        position   : relative;
        box-shadow : none;
        }
    }



.gray-bg {
    background-color : #f9f9f9;
    }


#main-wrapper {
    background : #ffffff;
    overflow   : hidden;
    }

.section-wrapper {
    padding : 50px;
    }

@media (max-width : 480px) {
    .section-wrapper {
        padding : 30px 20px;
        }
    }

.section-title {
    margin-bottom : 15px;
    }

.section-title h2 {
    margin-bottom : 5px;
    color         : #bebece;
    }



.header {
    padding        : 0;
    margin         : 0;
    height         : 100vh;
    vertical-align : middle;
    position       : relative;
    }

.header .profile-img {
    position            : absolute;
    top                 : 0;
    left                : 0;
    z-index             : -1;
    width               : 100%;
    height              : 100%;
    background-image    : url(../img/myphoto.jpg);
    background-size     : cover;
    background-position : center top;
    }

.header .profile-img:before {
    content    : "";
    position   : absolute;
    left       : 0;
    top        : 0;
    right      : 0;
    bottom     : 0;

    }

.header .content {
    position : absolute;
    bottom   : 0;
    left     : 0;
    right    : 0;
    width    : 100%;
    margin   : 0 auto;
    padding  : 10%;
    }

.header .content h1 {
    font-size   : 36px;
    color       : #ffffff;
    line-height : 1;
    margin      : 0;
    }

.header .content p {
    font-size : 18px;
    color     : #ffffff;
    }

@media (max-width : 600px) {
    .header .profile-img {
        z-index : 1;
        }

    
    }


.content-item {
    margin-bottom : 40px;
    }

.content-item h3 {
    margin         : 0 0 10px;
    line-height    : 1;
    font-weight    : bold;
    text-transform : uppercase;
    }

.content-item h4 {
    margin      : 0;
    line-height : 1;
    }

.content-item small {
    color : #888888;
    }



